<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBV7UoOAktp07UgTxF694xL-GBASF9ae0A</string>
	<key>GCM_SENDER_ID</key>
	<string>755532893018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebookAuthApp</string>
	<key>PROJECT_ID</key>
	<string>facebookauthapp-9d959</string>
	<key>STORAGE_BUCKET</key>
	<string>facebookauthapp-9d959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755532893018:ios:f75995c5e601fae5ab4163</string>
</dict>
</plist>